@import "../../styles/styles.scss";

.back-btn {
  border: none;
  border-radius: 24px;
  width: fit-content;
  font-weight: 600;
  background-color: $color-primary;
  box-shadow: 0 0 2px $color-shadow;
  padding: 12px 18px;
  color: white;

  transition: 0.5s;

  &:hover{
   cursor: pointer;
   box-shadow: 0 0 10px $color-shadow;
   transform: scale(1.1);
  }
}
