.user-details {
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        align-items: center;
        gap: 16px;

        img {
            border-radius: 50%;
            height: 50px;
        }
    }
}