@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald:wght@600&display=swap');

/* colors */

$primary: #6c63ff;
$secondary: #57b894;
$dark: #333333;
$basic-black: #000000;
$basic-gray: #d3d3d3;
$text: #2e2e2e;

/* fonts */

$font-title: 'Fredoka One',
cursive;
$font-basic: 'Oswald',
sans-serif;