@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  color: $dark;
  font-family: $Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
