@import 'vars';
.feedback-section{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    font-family: $font-basic;
    color: $primary;
    margin: 1rem;
    text-align: center;
  }
}

.grid-user{
  margin-top: 2rem;
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}