@import 'vars';

.user-card{
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 20px;
  justify-content: space-between;
  img{
    border-radius: 50%;
    max-width: 4rem;
    max-height: 4rem;
  }
  .body-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    h3{
      color: $primary;
      margin: 0;
    }
    h5{
      margin: 0;
      color: $secondary;
    }
  }
}