@import '../vars';
.loader-section{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    font-family: $font-basic;
    color: $primary;
    margin: 1rem;
    text-align: center;
  }
}